html, body{
    scroll-behavior: smooth; /* transition fluide */
    overflow: hidden;
}

body{
    background-color: #EBE4DF;
    margin: 0;
    padding: 0;

}

main{
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory; /* active le scroll snap vertical */
    animation: fadeIn 1s ease forwards;
}

.navbarspace{
    height: 10vh;
    margin:0;
    scroll-snap-align: start; /* s'aligne au début de la section */
}

.full-div{
    margin:0;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h1, h2 {
  font-family: 'League Spartan', sans-serif;
}
#cafetiere{
    width: 50px;
    height: auto;
}

.cafetexte{
    color: #815F47;
}
.clairtexte{
    color: #EBE4DF;
}
.bigtext{
    font-size: 50px;
}


.mot {
    opacity: 0;
    transform: translateY(20px);
    animation: apparaitre 0.6s ease forwards;
}

@keyframes apparaitre {
    to {
    opacity: 1;
    transform: translateY(0);
    }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


/* ---------- NAVBAR -------------*/

select{
    background-color: #815F47;
    border: solid 2px #EBE4DF ;
    border-radius: 5px;
    color: #EBE4DF;
    font-weight: bold;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #815F47;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Zone centrale de la navbar */
.navbar-center {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Liens */
.nav-link {
  text-decoration: none;
  color: #EBE4DF;
  font-weight: bold;
  font-size: 16px;
  padding: 0 10px;
}

/* Icône centrale */
.icon {
  font-size: 20px;
  text-align: center;
}


/* ---------- FIN NAVBAR -------------*/



/* ---------- PAGE 1 -------------*/



#aroundimg{
    position: relative;
    height: 70%;
}

#descriptionmilou{
    padding:15px;
    margin-top: 10%;
    width: 40%;
    background-color: #D5B16C;
    border-radius: 15px;
}
#imgemil{
    margin: 5px;
    border: solid #D5B16C 6px;
    border-radius: 15px;
}
.relativetext{
    position: absolute;
    top: 0;
    left: 250px;
    font-size: 45px;
    width: 200%
}
#sec1 img{
    height: 100%;
}
/* ---------- FIN PAGE 1 -------------*/

/* ---------- PAGE 2 -------------*/

#sec2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sec2 > div:nth-child(1){
    width: 100%;
    height: 30%;
    display: flex;
    align-items: end;
    justify-content: center;
}
#sec2 > div:nth-child(2){
    width: 100%;
    height: 60%;
    display: flex;
}
#sec2 > div:nth-child(2) > div{
    flex-grow: 1;
    padding: 15px;
    transition: flex-grow 0.4s ease;
}
#sec2 > div:nth-child(2) > div:hover{
    flex-grow: 2;
}



#cafespediv{
    background-image: url("./cafespe.jpeg");
    background-size: cover;        /* pour remplir tout le conteneur */
    background-position: center;
    color: #EBE4DF;
}
#matchadiv{
    background-image: url("./matcha.jpeg");
    background-size: cover;        /* pour remplir tout le conteneur */
    background-position: center;
    color: #EBE4DF;
}
#lattediv{
    background-image: url("./latte.jpeg");
    background-size: cover;        /* pour remplir tout le conteneur */
    background-position: center;
    color: #EBE4DF;
}


/* ---------- FIN PAGE 2 -------------*/

/* ---------- PAGE 3 -------------*/

#sec3{
    display: flex;
    justify-content: space-around;
}

#sec3 > div{
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
}
#sec3 > div > div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#iconig{
  width: 20px;      /* ou 50%, 10rem, etc. */
  height: auto;      /* garde les proportions */
  margin: 10px
}

.descriptionexp{
    display: flex;
    justify-content: left;
    align-items: center;
}
.descriptionexp h2{
    width:auto;
}



/* ---------- FIN PAGE 3 -------------*/



/* ---------- PAGE 4 -------------*/

.midtext{
    font-size: 35px;
    width: 70%;
}

#sec4{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#sec4 .bigtext{
    margin:0;
    padding: 0;
    margin-top: 15px;
}

#sec4 > div{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

#contact{
    padding:15px;
    width: 40%;
    background-color: #D5B16C;
    border-radius: 15px;
    height: 50%;
    margin:30px;
}
#sociaux, #cv{
    padding-left: 25px;
    padding:15px;
    width: 40%;
    background-color: #D5B16C;
    border-radius: 15px;
    height: 25%;
    margin:30px;
    display: flex;
}
#sociaux div, #cv div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 10%;
}
.iconsoc{
  width: 30px;      /* ou 50%, 10rem, etc. */
  height: auto;      /* garde les proportions */
  margin: 10px
}





/* ---------- FIN PAGE 4 -------------*/
